<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.mybatis.orderMapper.orderMapper">

	<!-- 회원탈퇴 시 해당 유저 정보 삭제  (orderInfo table)-->
	<delete id="ouserDelete" parameterType="dto">
		delete from orderInfo where id=#{id} 
	</delete>
	
	<!-- 회원탈퇴 시 해당 유저 정보 삭제  (orderDetailsInfo table)-->
	<delete id="oduserDelete" parameterType="dto">
		delete from orderDetailsInfo where id=#{id}
	</delete>
	
	<!-- 최근 주문 내역  -->
	<select id="myPage1" resultType="Ddto" parameterType="String">
		select * from orderDetailsInfo where id=#{id}
	</select>

	<!-- orderInfo 테이블에 저장 -->
	<insert id="buyRegister" parameterType="Odto">
		insert into orderInfo (name,tel,addr,ordermemo,ordertype,bankname,bank,id,totalprice,ordernum,mile) 
		values(#{name},#{tel},#{addr},#{ordermemo},#{ordertype},#{bankname},#{bank},#{id},#{totalprice},#{ordernum},#{mile})
	</insert>
	
	<!-- orderDetailsInfo 테이블에 저장 -->
	<insert id="buyRegisterDetails" parameterType="Ddto">
		insert into orderDetailsInfo (ordernum,code,codename,id,count,ordersize,price,image1) 
		values(#{ordernum},#{code},#{codename},#{id},#{count},#{ordersize},#{price},#{image1})
	</insert>
	
	<!-- 페이징 처리 후 주문 목록 조회 -->
	<select id="selectorber" resultType="Odto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM orderInfo 
							ORDER BY orderDate DESC
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
	<!-- 주문 목록 수 -->
	<select id="countorder" resultType="int">
		SELECT COUNT(*) FROM orderInfo
	</select>
	<!--  -->
	<select id="orderserch" resultType="Odto">
		select * from orderInfo where id=#{id}
	</select>
	<!-- 주문 확인클릭시 수정 -->
	<update id="deliveryChange" parameterType="Odto">
		update orderInfo set delivery='주문취소' where ordernum='Order0615213919'
	</update>

	<!--
	  주문내역 및 배송현황 페이지 결제건 조회 + 주문내역 상세페이지
	 [주문번호,주문일자,상품코드,상품이름,배송상태:입금중,수량,사이즈,이미지,가격] -->
	<select id="orderList" parameterType="String" resultType="Ddto">
		select * from orderDetailsInfo where id=#{id}
	</select>

		<!-- 구매 수량 삭제 -->
	<update id="sizeDelete">
		update sizetable set size${ordersize}=size${ordersize}-#{count} where code=#{code}
	</update>
	<!-- 
	  주문내역 상세페이지 - 주문자 및 결제정보
	 [주문자이름,전화번호,주소,배송메모,배송타입,은행,계좌,총가격,마일리지] -->
	<select id="orderView" parameterType="String" resultType="Odto">
		select * from orderInfo where id=#{id}
	</select>
	<!--
	  주문내역 및 배송현황 페이지 결제건 조회 + 주문내역 상세페이지
	 [주문번호,주문일자,상품코드,상품이름,배송상태:입금중,수량,사이즈,이미지,가격] -->
	<select id="orderList_num" parameterType="String" resultType="Ddto">
		select * from orderDetailsInfo where orderNum=#{ordernum}
	</select>
	<!-- 
	  주문내역 상세페이지 - 주문자 및 결제정보
	 [주문자이름,전화번호,주소,배송메모,배송타입,은행,계좌,총가격,마일리지] -->
	<select id="orderView_num" parameterType="String" resultType="Odto">
		select * from orderInfo where orderNum=#{ordernum}
	</select>
	<!-- 주문내역 및 배송현황 페이지 - 배송 상태 변경-->
	<update id="delivery" parameterType="Ddto" >
		update orderDetailsInfo set delivery='주문취소' where orderNum=#{ordernum}
	</update>
</mapper>














