<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.care.mybatis.orderMapper.ShoppingCartMapper">
	<!-- 회원탈퇴 시 해당 유저 정보 삭제  -->
	<delete id="suserDelete" parameterType="dto">
		delete from shoppingcart where id=#{id}
	</delete>
	
	<!--장바구니 DB에 값을 저장-->
	<insert id="insertcart" parameterType="Sdto" >
		insert into shoppingcart(id,code,codename,count,ordersize,image1,price) values(#{id},#{code},#{codename},#{count},#{ordersize},#{image1},#{price})
	</insert>
	
	<!-- 장바구니 DB에서 장바구니 리스트 가져오기 -->
	<select id="selectcart" parameterType="String" resultType="Sdto" >
		select * from shoppingcart where id= #{id}
	</select>
	
	<!-- 장바구니 DB에서 리스트 개수 가져오기 -->
	<select id="countcart" resultType="int" parameterType="String">
		select count(*) from shoppingcart where id=#{id}
	</select>
	
	<!-- 회원별 장바구니에 있는 아이템 전부 삭제 -->
	<delete id="cartAlldelete" parameterType="String">
		delete from shoppingcart where id=#{id}
	</delete>
	
	<!-- 장바구니 DB에서 회원별 총 금액 가져오기 -->
	<select id="totalprice" parameterType="String" resultType="integer">
		select nvl(sum(price),0) from shoppingcart where id=#{id}
	</select>
	
	<!-- 회원별 장바구니에서 x누른 아이템 삭제 -->
	<delete id="cartitemdelete" parameterType="Sdto">
		delete from shoppingcart where id=#{id} and code=#{code}
	</delete>
	
	<!-- 이미 있는 아이템은 더이상 장바구니에 추가 못함 -->
	<select id="checkitem" parameterType="Sdto" resultType="Integer">
		select nvl(count(code), 0) from shoppingcart where id=#{id} and code=#{code}
	</select>
	
	<!-- 장바구니 옵션 변경 -->
	<update id="cartoptionchange" parameterType="Sdto">
		update shoppingcart set ordersize=#{ordersize}, count=#{count} where id=#{id} and code=#{code}
	</update>
	
	<!-- 페이징 처리 후 장바구니 조회 -->
	<select id="cartpaing" resultType="Sdto" parameterType="Cpdto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM shoppingcart
							WHERE id=#{id} 
							ORDER BY joindate DESC 
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
</mapper>


