<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.care.mybatis.boardMapper.commnetMapper">
	<!--  댓글 등록 -->
	<insert id="commnetRegister">
		insert into commenttable (numComment,indexnum,contentComment,writer,registerdate,id) values(commnetnumber.nextval,#{indexnum},#{contentComment},#{writer},#{registerdate},#{id})
	</insert>
	
	<!-- 댓글 indexnum으로 조회 -->
	<select id="searchComment" resultType="Cdto">
		select * from commenttable where indexnum=#{indexnum} ORDER BY registerdate DESC
	</select>
	<!-- 댓글 수정 -->
	<update id="replyUpdate">
		update commenttable set contentComment=#{contentComment} where numComment=#{numComment}
	</update>
	<!-- 댓글 삭제 -->
		<delete id="replyDelete">
			delete commenttable where numComment=#{numComment}
		</delete>
	</mapper>
	