<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.care.mybatis.boardMapper.qaboardMapper">
  	<!-- qa 코드별 전체 리스트 보기 -->
  	<select id="qalist" resultType="Qdto">
  		SELECT *
		FROM (SELECT ROWNUM RN, A.*
		FROM (SELECT *
		FROM QABOARD where code=#{code} ORDER BY writeDate
		)A)
		WHERE RN BETWEEN #{startqa} AND #{endqa}
  	</select>
  	
  	<!-- 코드별 Q &A 게시물 총갯수 -->
  	<select id="countqna" resultType="int">
  		select count(*) from QABOARD
  	</select>
  	
  	<!-- 페이징 처리 후 Q & A 조회 -->
	<select id="selectqna" resultType="Qdto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM qaboard 
							ORDER BY indexnum DESC 
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
  	<!-- 코드별 Q &A 게시물 총갯수 -->
  	<select id="qatotal" resultType="int">
  		select count(*) from QABOARD where code=#{code}
  	</select>
  
  
  </mapper>