<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.mybatis.boardMapper.reviewMapper">
	
	<!--리뷰 등록-->
	<insert id="reviewsave" parameterType="Rdto">
		insert into review(reviewnum,reviewtitle,reviewcontents,id,name,code,codename,star_input,rating,rating2,rating3,rating4,image) values(reviewnum.nextval,#{reviewtitle},#{reviewcontents},#{id},#{name},#{code},#{codename},#{star_input},#{rating},#{rating2},#{rating3},#{rating4},#{image})
	</insert>
	
	
	<!-- 마이페이지 나의 리뷰 보여주기 -->
	<select id="review_list" parameterType="String">
		select * from review where id=#{id}
	</select>
	
	<!-- 마이페이지 나의 리뷰 수정하기, 삭제하기 하기 위한 폼 -->
	<select id="reviewitem" parameterType="Rdto" resultType="Rdto">
		select * from review where id=#{id} and reviewnum=#{reviewnum}
	</select>
	
	<!-- 마이페이지 나의 리뷰 삭제하기 -->
	<delete id="reviewdelete" parameterType="Rdto">
		delete from review where id=#{id} and reviewnum=#{reviewnum}
	</delete>
	
	<!-- 마이페이지 나의 리뷰 수정하기 -->
	<update id="reviewmodify" parameterType="Rdto">
		update review set reviewtitle=#{reviewtitle}, reviewcontents=#{reviewcontents}, star_input=#{star_input}, rating=#{rating}, rating2=#{rating2}, rating3=#{rating3}, rating4=#{rating4}, image=#{image} where id=#{id} and reviewnum=#{reviewnum}
	</update>
	
	<!-- 코드별 Q &A 게시물 총갯수 -->
  	<select id="countreview" resultType="int">
  		select count(*) from review
  	</select>
  	
  	<!-- 페이징 처리 후 Q & A 조회 -->
	<select id="selectreview" resultType="Rdto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM review 
							ORDER BY reviewnum DESC 
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>
</mapper>