<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.care.mybatis.myMapper">
 
 	<!-- 회원가입 정보 입력 받기 -->
	<insert id="saveUserInfo" parameterType="dto">
		insert into memberinfo(id,pwd,name,tel,birth) values(#{id},#{pwd},#{name},#{tel},#{birth})
	</insert>
	
	<select id="loginChk" parameterType="dto" resultType="dto">
		select * from memberinfo where id=#{id}
	</select>


	<select id="searchId" resultType="dto">
		select * from memberInfo where id=#{id} or tel=#{id}
	</select>
	<update id="pwdUpdate" parameterType="dto" >
		update memberInfo set pwd=#{pwd} where id=#{id}
	</update>
	
	<!-- 회원정보 수정 -->
	<update id="memberinfoModify" parameterType="dto">
		update memberInfo set address=#{address}, tel=#{tel} where id=#{id}
	</update>
	<!-- 마일리지 조회 -->
	<select id="mileage" parameterType="string" resultType="String">
		select mile from memberInfo where id=#{id}
	</select>

		

	<!-- 모든 회원정보 -->
	<select id="memberlists" resultType="dto">
		select * from memberinfo
	</select>
	<!-- 아이디 검색을 통한 회원정보 -->
	<select id="memberlist" resultType="dto">
		select * from memberinfo where id=#{id}
	</select>
	<!-- 아이디 삭제 -->
	<delete id="memberdelete" parameterType="String">
		delete from memberinfo where id=#{id}
	</delete>

	<!-- 회원정보수정을 위한 회원정보조회 -->
	<select id="account" parameterType="String" resultType="dto">
		select * from memberinfo where id=#{id}
	</select>
</mapper>

